@use "../../../variables.scss" as *;

.container-form {
  background-color: $background-secundary;
  min-height: 87svh;
  padding: $padding-m;
  display: flex;
  gap: $gap-s;
}
.form {
  display: flex;
  flex-direction: column;
  gap: $gap-s;
  padding: $padding-xs;
  width: 70%;
  height: fit-content;
  background-color: $background-white;
  &__title {
    font-size: 18px;
  }
  &__name-container,
  &__contact-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__container-course {
    @include displayColumn;
  }
  &__container-first-name {
    @include displayColumn;
  }
  &__container-surname {
    @include displayColumn;
  }
  &__container-email {
    @include displayColumn;
  }
  &__container-telefon {
    @include displayColumn;
  }
  &__adress-container {
    @include displayColumn;
    width: 90%;
  }

  &__container-global-errors {
    width: 100%;
    position: absolute;
    bottom: 0;
    > p {
      position: absolute;
      left: 0;
    }
  }
  input:not(input[type="checkbox"]) {
    border: none;
    outline: 1.6px solid $border-color-form;
    border-radius: $border-radius-input;
    padding: $padding-xs;
  }
  input[type="checkbox"] {
    margin-left: 0.6rem;
    transform: scale(1.4);

    &:focus {
      // outline: none;
      // box-shadow: 2px 2px 1px black;
      outline-color: #2384ff;
      outline-offset: 1.5px;
      // border: 4px solid rgb(28, 124, 219);
      border-radius: 100%;
    }
  }
  &__labelcheck {
    margin-left: 0.2rem;
    align-content: center;
  }
  &__terms-container {
    display: flex;
    margin-top: $margin-s;
    gap: $gap-xs;
    position: relative;
    align-items: center;
  }
  &__terms-error-container {
    width: 100%;
    margin-left: $margin-xs + 1px;
  }
  &__btn-submit {
    @include buttonPart(
      fit-content,
      fit-content,
      $padding-s,
      $background-button-form,
      4px
    );
    font-size: 1rem;
    font-weight: 500;
    margin-top: $margin-l;
    &:disabled {
      opacity: 0.4;
    }
  }
  &__labelcheck,
  &__checkbox {
    cursor: pointer;
  }
}
.brife-summary {
  width: 30%;
  background-color: $background-white;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: $padding-m $padding-xs;
  &__title {
    width: 100%;
    padding: $padding-xs;
  }
  &__container-course {
    display: flex;
    flex-direction: column;
    gap: $gap-s;
    width: 100%;
    padding: $padding-xs;
  }
  &__container-price {
    width: 100%;
    padding: $padding-xs;
  }
}
