@use "../../../variables.scss" as *;
.hero {
  &__videocontainer {
    height: 520px;
  }
  &__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    will-change: transform;
    object-position: 50% 50%;
    pointer-events: none;
  }
  &__introduction {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem 4.5rem;

    > h1 {
      width: 71%;
      height: fit-content;
      font-size: 30px;
      margin-top: 0.7rem;
      > strong {
        font-weight: 500;
      }
    }
    > p {
      font-size: 1.2rem;
      font-weight: 400;
      color: $color-primary;
    }
    > img {
      height: 80px;
      width: fit-content;
      object-fit: contain;
    }
  }
}
.section-info {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem 0px;
  gap: $gap-xs;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 24%;
    min-width: 220px;
  }
}
.section-courses {
  width: 100%;
  padding: 1rem;
  &__title {
    font-size: 45px;
    font-weight: 500;
    padding: 1rem 0px;
  }
  &__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: $gap-l;
  }
}
@media (max-width: 720px) {
  .hero__introduction {
    > h1 {
      width: 100%;
    }
  }
  .section-courses {
    &__title {
      text-align: center;
    }
  }
}
@media (max-width: 669px) {
  .section-info {
    &__container {
      flex-grow: 1;
    }
  }
}
@media (max-width: 440px) {
  .hero {
    &__introduction {
      align-items: center;
      padding: $padding-m;
    }
    &__h1 {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 0;
    }
    &__strong-h1 {
      font-size: 27px;
    }
  }
  .section-info {
    gap: $gap-l;
  }
  .section-courses {
    &__title {
      font-size: 30px;
    }
  }
}
@media (max-width: 360px) {
  .hero {
    &__introduction {
      align-items: center;
      padding: $padding-m;
    }
    &__h1 {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 0;
    }
    &__strong-h1 {
      font-size: 27px;
    }
  }
}
