<section class="hero">
  <div class="hero__videocontainer">
    <video
      class="hero__video"
      loop
      autoplay
      [muted]="true"
      preload="auto"
      fetchpriority="high"
      playsinline
      poster="https://framerusercontent.com/images/1tVaDMm1L4L0jUvgAK3WBw3r7IM.png"
    >
      <source
        src="https://framerusercontent.com/assets/FB93HHGqbqC0NIv6SkUBJ7jUgs.mp4"
        type="video/mp4"
      />
    </video>
  </div>
  <article class="hero__introduction">
    <p>More than an university</p>
    <h1 class="hero__h1">
      <strong class="hero__strong-h1">
        “thePower Education the school that is leading the revolution in
        education”</strong
      >
    </h1>
    <img
      src="https://framerusercontent.com/images/zt8GWfDpv8ZQ1pmBJ88nRgCn7o.png"
      alt="Financial-times-img"
      loading="lazy"
    />
  </article>
</section>
<section class="section-info">
  <app-info-card
    class="section-info__container"
    *ngFor="let info of infos"
    [quantity]="info.firstParraf"
    [text]="info.secondParraf"
  ></app-info-card>
</section>
<section class="section-courses">
  <h3 class="section-courses__title">Discover the most in-demand programs</h3>
  <article class="section-courses__maincontainer" *ngIf="coursesList">
    <ul class="section-courses__list">
      <app-course-card
        [course]="courses"
        *ngFor="let courses of coursesList"
      ></app-course-card>
    </ul>
  </article>
</section>
