.hero {
  &__videocontainer {
    height: 520px;
  }
  &__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    pointer-events: none;
  }
  &__introduction {
    width: 100%;
    min-height: 400px;
    padding: 1rem;
    > h1 {
      font-size: 3rem;
    }
  }
}
