@use "../../../../variables.scss" as *;
.footer {
  position: relative;
  width: 100%;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-top: 2px solid black;
  min-height: 100px;
  background-color: $background-button-primary;
  justify-content: space-between;
  animation: opacity 3s ease-in;
  * {
    color: whitesmoke;
  }
  &__imgcontainer {
    position: relative;
    left: 2%;
    padding: $padding-s;
  }
  &__img {
    object-fit: contain;
    width: 140px;
    height: 100px;
  }
  &__gmailcontainer {
    display: flex;
    gap: $gap-xs;
    align-items: center;
    place-content: center;
  }
  &__rrsscontainer {
    position: relative;
    right: 5%;
  }
  &__createdcontainer {
    display: flex;
    flex-direction: column;
    gap: $gap-xs;
    > p {
      text-align: center;
    }
  }
  &__personalinfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: $gap-xs;
  }
  &__listrrss {
    display: flex;
    flex-direction: column;
    height: 100px;
    padding: 5%;
    justify-content: space-between;
  }
  &__imglinkedin {
    width: 25px;
  }
  &__imgportfolio {
    width: 25px;
  }
  &__imggithub {
    width: 25px;
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
