<footer class="footer">
  <div class="footer__imgcontainer">
    <img
      class="footer__img"
      src="images/thePower.webp"
      alt="img-thePower-Academy"
      loading="lazy"
    />
  </div>
  <div class="footer__personalinfo">
    <a
      class="footer__gmailcontainer"
      href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=jseridiaz@gmail.com"
      target="_blank"
    >
      <app-gmail class="footer__gmail"></app-gmail>
      jseridiaz&#64;gmail.com</a
    >

    <div class="footer__createdcontainer">
      <p>Web created by José Daniel Rivera Díaz</p>
      <p>All rights reserved &copy;</p>
    </div>

    <div class="footer__rightsreserved"></div>
  </div>
  <div class="footer__rrsscontainer">
    <ul class="footer__listrrss">
      <li>
        <a
          class="flex-containerrow"
          href="https://www.linkedin.com/in/josedanielriveradiaz/"
          target="_blank"
          ><img
            class="footer__imglinkedin"
            src="https://res.cloudinary.com/ddybbosdk/image/upload/v1720530926/iconos%20rrss/linkedin-icon-2-logo-svgrepo-com_mfyfxh.svg"
            alt="icon-linkedin"
            loading="lazy"
          />
          <p>Linkedin</p>
        </a>
      </li>
      <li>
        <a
          href="https://jose-daniel-rivera-diaz-portfolio-fullstack.vercel.app/"
          class="flex-containerrow"
          target="_blank"
          ><img
            class="footer__imgportfolio"
            src="https://res.cloudinary.com/ddybbosdk/image/upload/v1720531110/iconos%20rrss/portfolio-svgrepo-com_za01m0.svg"
            alt="icon-portfolio"
            loading="lazy"
          />
          <p>Portfolio</p></a
        >
      </li>
      <li>
        <a
          class="flex-containerrow"
          href="https://github.com/jseridiaz"
          target="_blank"
          ><img
            class="footer__imggithub"
            src="https://res.cloudinary.com/ddybbosdk/image/upload/v1720531216/iconos%20rrss/github-142-svgrepo-com_rgiofi.svg"
            loading="lazy"
            alt="icon-github"
          />
          <p>Github</p>
        </a>
      </li>
    </ul>
  </div>
</footer>
