@use "../../../variables.scss" as *;

.courses {
  min-height: 100svh;
  padding: $padding-m;
  &__title {
    text-align: center;
    margin-bottom: $margin-l;
  }
  &__main-container {
    min-height: 100svh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: $gap-s;
    row-gap: $gap-l;
  }
}
