/* You can add global styles to this file, and also import other style files */
@use "./variables.scss" as *;

html,
body {
  margin: 0px;
  padding: 0px;
  min-height: 100svh;
}

* {
  font-family: "Roboto", serif;
  box-sizing: border-box;
  list-style: none;
  color: $color-primary;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
.flex-containerrow {
  display: flex;
  align-items: center;
  gap: $gap-xs;
}
@mixin buttonPart($width, $height, $padding, $color) {
  width: $width;
  height: $height;
  background-color: $color;
  padding: $padding;
  cursor: pointer;
}
