@use "../../../../variables.scss" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
  background-color: #1f3741;
  height: 100px;
  &__imgcontainer {
    width: 200px;
    height: 100%;
    padding: 5px;
    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      cursor: pointer;
    }
  }
  &__navbar {
    width: 50%;
    font-size: 1.2rem;
  }
  &__navbar-ul {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  &__links {
    color: white;
    &:hover {
      transition: all 0.5s;
      color: rgb(122, 246, 192);
    }
  }
  &__links.active {
    text-decoration: underline;
  }

  // &__links:link,
  // &__links:visited {
  //   color: black;
  // }
  &__button {
    @include buttonPart(fit-content, 40px, 5px 25px, rgb(122, 246, 192));
    font-weight: 600;
  }
}
